openapi: 3.1.0
info:
  title: Open-Meteo Forecast API
  description: Minimal fragment covering the single forecast operation used by the briefing journey.
  version: 1.0.0
servers:
  - url: https://api.open-meteo.com
paths:
  /v1/forecast:
    get:
      operationId: getForecast
      summary: Get daily weather forecast for a lat/lon and date range
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: string
          description: Latitude (WGS84)
        - name: longitude
          in: query
          required: true
          schema:
            type: string
          description: Longitude (WGS84)
        - name: start_date
          in: query
          required: true
          schema:
            type: string
          description: Start date in YYYY-MM-DD format
        - name: end_date
          in: query
          required: true
          schema:
            type: string
          description: End date in YYYY-MM-DD format
        - name: daily
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of daily variables to include
        - name: timezone
          in: query
          schema:
            type: string
          description: IANA timezone name, or "auto" to infer from coordinates
      responses:
        '200':
          description: Daily weather forecast
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                  longitude:
                    type: number
                  timezone:
                    type: string
                  daily:
                    type: object
                    properties:
                      time:
                        type: array
                        items:
                          type: string
                      temperature_2m_max:
                        type: array
                        items:
                          type: number
                      temperature_2m_min:
                        type: array
                        items:
                          type: number
                      precipitation_sum:
                        type: array
                        items:
                          type: number
                      weather_code:
                        type: array
                        items:
                          type: integer
